@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #7dd3fc;
  --color-secondary: teal;
}

*{
    font-family: "Orbitron", sans-serif;
}